@import 'variables';

#process {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    .stat {
      height: 75vh;
      margin-top: -$border-width;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:nth-child(4n + 0),
      &:nth-child(4n + 1) {
        z-index: 1;
        background-color: $medium-dark-color;
      }

      .round-icon {
        height: 6rem;
        width: 6rem;
        margin: 1.5rem;
      }

      &-nozzle {
        .nozzle-content {
          display: grid;
          grid-template-rows: 1fr 2fr 1fr;
          grid-auto-columns: 1fr;
          gap: 1rem 0;
          width: 100%;
          height: 100%;
          text-align: center;

          .section-title {
            text-align: left;
            align-self: center;
            grid-column: span 2;
            z-index: 2;
          }

          .idea-icon {
            position: relative;
            display: flex;
            justify-content: center;
            grid-column: span 2;
            margin: 1em 0;

            img {
              position: absolute;
              height: 100%;
              width: auto;
            }
          }

          .glass-icon {
            height: 70%;
            margin: auto;
            grid-row: span 2;
            grid-column: span 2;
            z-index: 2;
          }

          .pipe {
            position: relative;
            grid-column: 2;
            margin-left: calc(-#{$border-width}/ 2);
            border-left: $border-definition;

            &-start {
              @extend .pipe;
              border-bottom: $border-definition;
              border-bottom-left-radius: $border-width;

              .link {
                left: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
              }
            }

            &-end {
              @extend .pipe;
              border-top: $border-definition;
              border-top-left-radius: $border-width;

              .link {
                bottom: 0;
                left: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
              }
            }
          }
        }
      }

      &-intro {
        background-color: $medium-dark-color;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $light-color;
        padding: 4rem;
        line-height: 1.5rem;
      }

      &-summary {
        background-color: $medium-dark-color;
        color: $light-color;
        display: flex;
        flex-direction: column;

        .summary-title {
          font-size: 2rem;
          margin-bottom: 2rem;
          color: $primary-color;
        }

        .summary-content {
          display: grid;
          grid-template-columns: auto auto 1fr;
          align-items: center;
          justify-items: center;
          text-align: center;
          gap: 1rem 0;

          .summary-value {
            justify-self: end;
            font-size: 2rem;
            margin-top: 0.6rem;
            margin-bottom: 0.2rem;
          }

          .summary-desc {
            justify-self: start;
            text-align: start;
            left: 0;

            span {
              margin-left: 0.8rem;
              color: $medium-light-color;
              font-size: 0.9rem;
              font-style: italic;
            }
          }
        }
      }

      .link {
        position: absolute;
        width: $link-width;
        height: $link-length;
        background-color: $primary-color;
        border-radius: 3px;

        &-vertical {
          @extend .link;
          height: $link-width;
          width: $link-length;
        }

        &-top-right {
          @extend .link-vertical;
          top: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
          right: $link-margin;
        }

        &-top-left {
          @extend .link-vertical;
          top: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
          left: $link-margin;
        }

        &-bottom-right {
          @extend .link-vertical;
          bottom: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
          right: $link-margin;
        }

        &-bottom-left {
          @extend .link-vertical;
          bottom: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
          left: $link-margin;
        }

        &-right-top {
          @extend .link;
          top: $link-margin;
          right: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
        }

        &-right-bottom {
          @extend .link;
          bottom: $link-margin;
          right: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
        }

        &-left-top {
          @extend .link;
          top: $link-margin;
          left: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
        }

        &-left-bottom {
          @extend .link;
          bottom: $link-margin;
          left: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
        }
      }
    }
  }
}

.bi-fermentation-1 {
  padding: 0.8rem;
}

.bi-fermentation-2 {
  padding: 0.8rem 1.2rem 1.2rem 0.6rem;
}

.bi-hop {
  padding: 0.8rem 0.8rem 1.2rem 1.2rem;
}

.bi-mashing {
  padding: 0.8rem 1.2rem 1.2rem 0.8rem;
}

@media (max-width: 768px) {
  #process {
    .container {
      grid-template-columns: repeat(1, 1fr);

      .stat {
        // Clear old styling
        &:nth-child(4n + 0),
        &:nth-child(4n + 1) {
          background-color: $dark-color;
        }

        // Apply new styling
        height: 50vh;

        &:nth-child(2) {
          display: none;
        }

        .nozzle-content {
          .pipe {
            &-start {
              border-left: unset;
              border-bottom-left-radius: unset;
              margin-left: unset;
              grid-column: unset;

              margin-right: calc(-#{$border-width}/ 2);
              border-right: $border-definition;
              border-bottom-right-radius: $border-width;

              .link {
                display: unset;
                left: unset;
                right: calc(-#{$link-width}/ 2 - #{$border-width}/ 2);
              }
            }

            &-end {
              .link-nozzle {
                display: unset;
              }
            }
          }
        }

        &-summary {
          .line-v {
            margin: 0 0.8rem;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #process {
    .container {
      .stat {
        &-nozzle {
          .nozzle-content {
            .nozzle-icon {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }
}
