@import 'variables';

#process {
  .container {
    .stat {
      &-step {
        &-content {
          display: grid;
          grid-template-columns: 1fr auto 1fr;
          align-items: center;
          justify-items: center;
          text-align: center;
          color: $light-color;

          .round-icon {
            grid-column: span 3;
          }

          .stat-name {
            justify-self: end;
            margin: 1rem 0;
            max-width: 130px;

            span {
              display: table;
              color: $medium-light-color;
              font-style: italic;
              font-size: 0.9em;
              margin: auto;
            }
          }

          .stat-value {
            justify-self: start;
            font-size: 2.5rem;
            font-weight: 700;

            .unit {
              font-size: 0.6em;
              margin-left: 4px;
              color: $medium-light-color;
            }
          }
        }
      }

      &-step:nth-child(4n + 0) {
        background-color: $medium-dark-color;
        border-top: $border-definition;
        border-right: $border-definition;
        border-bottom: $border-definition;
        border-top-right-radius: $border-width;
        border-bottom-right-radius: $border-width;
      }

      &-step:nth-child(4n + 1) {
        border-top: $border-definition;
        border-left: $border-definition;
        border-bottom: $border-definition;
        border-top-left-radius: $border-width;
        border-bottom-left-radius: $border-width;
      }
    }
  }
}
@media (max-width: 768px) {
  #process {
    .container {
      .stat {
        // Clear old styling
        &-step:nth-child(4n + 0),
        &-step:nth-child(4n + 1) {
          border: unset;
          border-radius: unset;
          background-color: $dark-color;
        }

        // Apply new styling
        &-step:nth-child(even) {
          background-color: unset;
          border-top: $border-definition;
          border-right: $border-definition;
          border-bottom: $border-definition;
          border-top-right-radius: $border-width;
          border-bottom-right-radius: $border-width;
        }

        &-step:nth-child(odd) {
          background-color: $medium-dark-color;
          border-top: $border-definition;
          border-left: $border-definition;
          border-bottom: $border-definition;
          border-top-left-radius: $border-width;
          border-bottom-left-radius: $border-width;
        }

        &-step {
          &-content {
            .round-icon {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}