@import "../variables";

#error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;

  .error-icon {
    width: 30vh;
    fill: $primary-color;
    transform: rotate(45deg);
  }

  .message {
    margin: 2rem;
    color: $primary-color;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }
}
