@import "../variables";

#footer {
  background-color: $medium-dark-color;

  .footer-content {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto 1fr auto;
    width: 100%;
    padding: 0 2rem;
    color: $medium-light-color;

    .logo {
      &-wasoft {
        height: 2.5rem;
        width: auto;
      }
    }

    p {
      color: $medium-light-color;
      text-align: center;
      line-height: 1.5rem;
    }

    hr {
      border-color: $medium-light-color;
      margin: 0.75rem 0;
    }
  }
}

@media (max-width: 768px) {
  #footer .footer-content {
    display: flex;
    flex-direction: column;

    .main-content {
      margin-top: 2rem;
    }

    .logo-wasoft {
      height: 1.75rem;
      width: auto;
      &:nth-of-type(2n) {
        display: none;
      }
    }
  }
}
