@import "../variables";

#loader {
  $animation-time: 3000ms;
  $bottle-width: 40px;
  $bottle-height: 110px;
  $bottle-jump: 10px;
  $loader-width: 300px;
  $cap-width: 16px;
  $cap-height: 3px;
  $hammer-width: 4px;
  $hammer-height: 15px;
  $cap-space: 120px;
  $bar-height: 5px;

  margin: 4rem auto;
  width: $loader-width + 2 * $bottle-width;

  .message {
    margin-bottom: 2rem;
    color: $primary-color;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  .bar {
    margin: 2rem 0;
    height: $bar-height;
    width: 100%;
    margin-top: 2rem;
    position: relative;
    background-color: transparent;

    &:before {
      top: 0;
      left: 0;
      width: 0;
      content: "";
      height: inherit;
      position: absolute;
      background-color: $primary-color;
      animation: bar ($animation-time * 2.5) linear infinite;
    }
  }

  .bottle-wrap {
    height: $bottle-height;
    position: relative;
  }

  .bottle {
    bottom: 0;
    opacity: 0;
    width: $bottle-width;
    text-align: center;
    position: absolute;
    display: inline-block;
    vertical-align: bottom;
    transform-origin: bottom right;
    transform: translateX(-$loader-width);
    animation: move $animation-time linear infinite;

    &:before,
    &:after {
      left: 50%;
      opacity: 0;
      content: "";
      position: absolute;
      background-color: $primary-color;
    }
    // Hammer that applies cap on the bottle
    &:before {
      opacity: 1;
      height: $hammer-height;
      width: $hammer-width;
      top: -$cap-space;
      margin-left: -$hammer-width * 0.5;
      animation: lock-cap $animation-time linear infinite;
    }
    // Cap after it's applied on the bottle
    &:after {
      top: 0;
      height: $cap-height;
      width: $cap-width;
      border-radius: 5%;
      margin-left: -$cap-width * 0.5;
      animation: show-cap $animation-time linear infinite;
    }

    svg {
      display: block;
      margin: auto;

      .bottle-fill {
        animation: waves $animation-time infinite linear,
          fill $animation-time infinite forwards;
      }

      .bottle-water {
        fill: $primary-color;
      }

      .bottle-glass {
        stroke: $primary-color;
      }

      .bottle-mask {
        fill: #999999;
      }
    }
  }

  .cap {
    left: 0;
    right: 0;
    top: -$cap-space + 2 * $hammer-height;
    z-index: 1;
    width: 100%;
    position: absolute;

    & > i {
      opacity: 0;
      height: $cap-height;
      width: $cap-width;
      margin-left: 12px;
      border-radius: 5%;
      position: absolute;
      background-color: $primary-color;
      animation: move-cap $animation-time linear infinite;
    }
  }

  .cap > i:nth-child(2),
  .bottle:nth-child(2),
  .bottle:nth-child(2):before,
  .bottle:nth-child(2):after,
  .bottle:nth-child(2) .bottle-fill {
    animation-delay: #{$animation-time * 0.25};
  }
  .cap > i:nth-child(3),
  .bottle:nth-child(3),
  .bottle:nth-child(3):before,
  .bottle:nth-child(3):after,
  .bottle:nth-child(3) .bottle-fill {
    animation-delay: #{$animation-time * 0.5};
  }
  .cap > i:nth-child(4),
  .bottle:nth-child(4),
  .bottle:nth-child(4):before,
  .bottle:nth-child(4):after,
  .bottle:nth-child(4) .bottle-fill {
    animation-delay: #{$animation-time * 0.75};
  }

  @keyframes waves {
    0% {
      x: -200px;
    }
    25% {
      x: -100px;
    }
    50% {
      x: -200px;
    }
    75%,
    100% {
      x: -40px;
    }
  }
  @keyframes fill {
    0% {
      height: 0;
      y: 125px;
    }
    30%,
    100% {
      height: 100px;
      y: 25px;
    }
  }
  @keyframes move {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX($loader-width * 0.25);
    }
    48% {
      transform: translateX($loader-width * 0.48) translateY(0);
    }
    50% {
      transform: translateX($loader-width * 0.5) translateY(-$bottle-jump);
    }
    52% {
      transform: translateX($loader-width * 0.52) translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateX($loader-width * 0.75);
    }
    100% {
      opacity: 0;
      transform: translateX($loader-width);
    }
  }
  @keyframes move-cap {
    0% {
      opacity: 0;
      transform: translateX(0);
    }
    25% {
      opacity: 1;
      transform: translateX($loader-width * 0.25);
    }
    45% {
      opacity: 1;
    }
    48% {
      transform: translateX($loader-width * 0.48);
    }
    50% {
      transform: translateX($loader-width * 0.5) translateY($bottle-jump);
    }
    52% {
      opacity: 0;
    }
    75% {
      transform: translateX($loader-width * 0.75);
    }
    100% {
      opacity: 0;
      transform: translateX($loader-width);
    }
  }
  @keyframes show-cap {
    0%,
    45% {
      opacity: 0;
    }
    48%,
    90% {
      opacity: 1;
    }
  }
  @keyframes lock-cap {
    0%,
    45%,
    48%,
    100% {
      opacity: 0;
      transform: translateY(-$bottle-jump);
    }
    46%,
    47% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes bar {
    0% {
      width: 0;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
}
