@import "../variables";

#not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;

  .error-icon {
    width: 30vh;
    fill: $primary-color;
    transform: rotate(45deg);
  }

  .title {
    color: $primary-color;
    text-transform: uppercase;
  }

  .message {
    margin: 1rem;

    h4 {
      font-size: 1rem;
      text-align: center;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      margin: 1rem;
    }
  }
}
