@import "../../variables";

#batches-dashboard .container {
  h4 {
    margin: 2rem 0;
    text-align: center;

    span {
      color: $primary-color;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  .batches-years {
    margin: 4rem 0 2rem 0;
    border-left: 0.5rem solid $primary-color;

    .batches-year {
      position: relative;

      .timeline-point {
        height: 0.8rem;
        width: 2.4rem;
        background-color: $primary-color;
        border-radius: 1rem;
        position: absolute;
        left: -1.4rem;
      }

      .year-title {
        font-size: 2rem;
        margin: 2rem;
      }

      .batches-grid {
        margin-left: 2rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;

        .batch-item {
          width: 100%;
          border: 2px solid $primary-color;
          border-radius: 1rem;
          position: relative;

          .info-link {
            img {
              height: auto;
              width: 100%;
              border-radius: 1rem;
              margin-bottom: -4px;
            }

            .info-button {
              display: none;
              position: absolute;
              left: 50%;
              bottom: 20%;

              .btn {
                position: relative;
                left: -50%;
              }
            }

            &:hover {
              .info-button {
                display: unset;
              }

              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                background: linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0.25) 0%,
                  black 100%
                );
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #batches-dashboard .container .batches-years .batches-year {
    .batches-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
