@import "../../variables";

#batch-details {
  .return {
    float: right;
    margin: 1rem 0;
  }

  .main-info {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0 3fr;
    margin: 10% 0;

    .label {
      width: 100%;
      margin: auto;

      img {
        height: auto;
        width: 100%;
      }
    }

    .bottle {
      position: relative;
      z-index: 1;
      img {
        position: absolute;
        height: 130%;
        transform: translate(-50%, -15%);
      }
    }

    .info {
      background-color: $medium-dark-color;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 15%;
      text-align: center;
      position: relative;

      .batch-no {
        position: absolute;
        right: 2rem;
        top: 2rem;
      }

      h2 {
        line-height: 2.5rem;
      }
    }
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin: 3rem 0;
    column-gap: 2rem;

    .values,
    .dates {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
    }

    .values {
      align-items: flex-end;
    }

    .info-item {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;
      align-items: center;

      .round-icon {
        height: 4rem;
        width: 4rem;
        padding: 0.8rem;
      }

      .info-desc h3 {
        color: $medium-light-color;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      background-color: $medium-dark-color;
      border: 1px solid $primary-color;
      border-radius: 1rem;
      align-items: center;
      padding: 2.5rem;
      text-align: center;

      .batch-style {
        font-size: 2rem;
      }
    }
  }

  .navigation {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-areas: "prev-link prev-name next-name next-link";
    margin: 1rem 0;
    align-items: center;

    .prev-link {
      grid-area: prev-link;
      margin: auto;
      transform: rotate(-90deg);
    }
    .prev-name {
      grid-area: prev-name;
      text-align: start;
    }
    .next-name {
      grid-area: next-name;
      text-align: end;
    }
    .next-link {
      grid-area: next-link;
      margin: auto;
      transform: rotate(90deg);
    }

    .bottle {
      margin: 0 3rem;
      svg {
        stroke: $primary-color;
      }
    }
  }
}

@media (max-width: 768px) {
  #batch-details {
    .main-info {
      display: flex;
      flex-direction: column;
      margin: 0;

      .label {
        height: 80vh;
        margin: 10vh 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.5);
        }
      }

      .bottle img {
        height: 80vh;
        left: 50%;
        transform: translate(-50%, -100vh);
      }

      .info {
        .batch-no {
          position: unset;
          margin: 2rem;
        }
      }
    }

    .details {
      grid-template-columns: 1fr 1fr;
      row-gap: 3rem;

      .description {
        grid-row: 2;
        grid-column: span 2;
        column-span: 3;
        padding: 2rem 1rem;

        .batch-style {
          font-size: 1.5rem;
        }

        .line-h {
          margin: 1rem 0;
        }
      }

      .values,
      .dates {
        margin: 0 0.5rem;
        justify-self: center;
      }

      .info-item {
        column-gap: 1rem;

        .round-icon {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }

    .navigation {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "prev-link next-link"
        "prev-name next-name";

      .prev-name,
      .next-name {
        text-align: center;
      }

      .bottle {
        margin: -1rem 0;
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #batch-details {
    .main-info {
      .label {
        display: none;
      }
      .bottle {
        margin: auto;
        img {
          position: unset;
          transform: rotate(90deg);
          height: 90vw;
          margin: -12rem 0;
        }
      }
    }
  }
}
