@import "../../variables";

#no-pending-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 3rem;
  padding: 2rem 0;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      width: 25%;
      padding: 2rem 3rem;
      border: solid $primary-color 0.2rem;
      border-radius: 2rem 0;
    }

    h2 {
      margin: 2rem;
      color: $primary-color;
      text-transform: uppercase;
    }
  }

  .message {
    display: flex;
    flex-direction: column;
    max-width: 70%;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 768px) {
  #no-pending-container {
    row-gap: unset;
    .header {
      flex-direction: column;

      .icon {
        width: 70%;
        padding: 2rem;
      }
    }

    .message {
      max-width: unset;
    }
  }
}
