@import "../../variables";

#pending {
  .section-title {
    margin-bottom: 0;
  }

  .brew {
    display: flex;
    width: 100%;
    padding: 0 2rem;
    margin: 1rem 0;

    &-label {
      height: 50vh;
      background-color: $primary-color;

      .brew-name {
        color: $dark-color;
        writing-mode: vertical-rl;
        margin: 1rem 0.5rem;
        transform: rotate(180deg);
        display: none;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      border-width: 4px 4px 4px 0;
      border-color: $primary-color;
      border-radius: 0 1rem 1rem 0;
      border-style: solid;
      width: 100%;

      .stages {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-width: 0px 0px 4px 0;
        border-color: $primary-color;
        border-style: solid;

        .round-icon {
          height: 3rem;
          width: 3rem;
          padding: 0.5rem;
          margin: 0.5rem;

          &.active svg,
          &.todo svg {
            filter: invert(97%) sepia(0%) saturate(12%) hue-rotate(279deg)
              brightness(104%) contrast(104%);
          }
        }

        .icon-round {
          $icon-size: 3rem;
          height: $icon-size;
          width: $icon-size;
          line-height: $icon-size;
          font-size: 1.5rem;
          margin: 0.5rem;
        }

        .done {
          position: relative;
        }

        .active {
          background-color: transparent;
          border: solid 4px $primary-color;
          border-style: inset;
          color: $light-color;
          padding-top: -4px;

          &::before {
            margin-top: -4px;
          }
        }

        .todo {
          background-color: transparent;
          color: $light-color;
        }

        .stage-name {
          background-color: $primary-color;
          display: flex;
          align-items: center;
          padding: 1rem;
          margin-right: -1px;
          border-radius: 0 0.5rem 0 0;

          h4 {
            color: $dark-color;
            font-size: 1rem;
          }
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        height: 100%;

        .brew-info-title {
          font-size: 1.5rem;
          margin-bottom: 1rem;
          width: 100%;
        }

        .brew-info-date {
          margin-bottom: 1.5rem;
          width: 100%;
        }

        .brew-no {
          font-weight: bold;
          color: $primary-color;
        }
      }
    }
  }

  .brew:nth-child(odd) {
    flex-direction: row-reverse;

    .brew-info {
      border-width: 4px 0 4px 4px;
      border-radius: 1rem 0 0 1rem;

      .stage-name {
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 1050px) {
  #pending {
    .brew {
      &-label {
        height: unset;
        min-height: 50vh;

        img {
          display: none;
        }

        .brew-name {
          display: unset;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #pending {
    .brew {
      padding: unset;

      &-info {
        .stages {
          .done,
          .todo,
          p {
            display: none;
          }
        }
      }
    }
  }
}
