@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Teko:wght@500;600;700&display=swap");
@import "variables";

html,
body {
  overflow-x: hidden;
  background: $dark-color;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: $light-color;
  }

  h1,
  h2,
  h3,
  input[type="submit"] {
    font-family: "Teko", sans-serif;
  }

  h4,
  p,
  a,
  input,
  textarea {
    font-family: "Montserrat", sans-serif;
  }

  h1 {
    font-weight: 700;
    font-size: 5rem;
    line-height: 3rem;
  }

  h2 {
    font-weight: 600;
    font-size: 3.5rem;
  }

  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  h4 {
    font-weight: 400;
    font-size: 1.2rem;
  }

  p {
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: $primary-color;
  }

  input[type="submit"] {
    font-size: 1.3rem;
    background: $primary-color;
    color: $dark-color;
  }

  .btn {
    font-family: "Teko", sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    font-size: 1.3rem;
    background: $primary-color;
    color: $dark-color;
  }
}

.container {
  max-width: $content-width;
  margin: auto;
  padding: 1.5rem;
  height: 100%;
  width: 100%;
}

.main-section {
  position: relative;
}

.section-title {
  color: $primary-color;
  margin: 1rem;
  text-transform: uppercase;
}

.round-icon {
  border-radius: 50%;
  background-color: $primary-color;
  color: $dark-color;
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  h2,
  h3,
  h4,
  p {
    color: $dark-color;
    text-align: center;
  }
}

// Utilities

.dim {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      black 0%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 75%,
      black 100%
    );
  }

  &-full {
    @extend .dim;

    &::before {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &-in {
    @extend .dim;

    &::before {
      background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0) 25%);
    }
  }

  &-out {
    @extend .dim;

    &::before {
      background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0) 25%);
    }
  }

  &-right10 {
    @extend .dim;

    &::before {
      background: linear-gradient(270deg, black 0%, rgba(0, 0, 0, 0) 10%);
    }
  }
}

.line {
  $line-thickness: 4px;
  $line-margin: 1.5rem;

  background-color: $primary-color;
  border-radius: 5px;

  &-h {
    @extend .line;
    width: 25%;
    max-width: 200px;
    height: $line-thickness;
    margin: $line-margin 0;
  }

  &-v {
    @extend .line;
    width: $line-thickness;
    height: 100%;
    margin: 0 $line-margin;
  }
}

// Vendors

.swal2-container {
  .swal2-popup {
    background: $medium-dark-color;

    .swal2-header {
      .swal2-icon.swal2-success {
        border-color: $primary-color;
        color: $primary-color;
      }

      .swal2-title {
        color: $light-color !important;
      }
    }
  }
}

@media (max-width: 768px) {
  html,
  body {
    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }

    h4 {
      font-size: 1rem;
    }

    p {
      font-size: 0.9rem;
    }
  }

  .icon-round {
    transform: scale(0.8);
  }
}
