@import "../../variables";

#hero {
  height: 100vh;
  width: 100vw;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.8) 75%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .hero-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .logo {
      display: flex;
      align-items: center;
      z-index: 2;
      height: 100vh;

      .logo-img {
        margin: auto;
        max-width: 80%;
        max-height: 60%;
      }
    }

    .keynote {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: center;
      justify-self: flex-start;
      padding-right: 3rem;
      z-index: 1;

      .subtitle {
        text-transform: uppercase;
        color: $primary-color;
        font-size: 1.69em;
      }

      .description {
        margin-top: 20%;
        max-width: 430px;
        // text-align: center;
        line-height: 1.5rem;

        span {
          color: $primary-color;
        }
      }

      .line-h {
        margin-top: 0;
        margin-bottom: 0.3rem;
        width: 27.8%;
      }

      .line-h:nth-child(1) {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  #hero {
    .hero-content {
      grid-template-columns: unset;
      display: flex;
      flex-direction: column;

      .logo {
        padding-top: 10%;
        max-height: 50%;

        .logo-img {
          margin: auto;
          max-height: 100%;
        }
      }

      .keynote {
        font-size: 0.9rem;
        line-height: 1.5rem;
        padding: 0 10%;
        align-items: center;
        text-align: center;

        .title {
          font-size: 3.5rem;
          line-height: 2rem;
          margin-top: 2.5rem;
        }

        .subtitle {
          font-size: 1.18rem;
        }
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #hero {
    .container {
      justify-content: center;

      .logo {
        padding-top: unset !important;
      }

      .keynote {
        .description {
          display: none;
        }
      }
    }
  }
}
