@import "../../variables";

#history {
  h4 {
    text-align: center;

    span {
      color: $primary-color;
      font-weight: bold;
      font-size: 2rem;
    }
  }

  #brew-carousel {
    .slide-item {
      height: 50vh;
      display: grid;
      grid-template-columns: auto 1fr;
      color: $primary-color;
      border-radius: 1rem;
      border: 2px solid $primary-color;

      .brew-image {
        overflow: hidden;
        height: 100%;
        padding: 1px;

        img {
          height: 100%;
          width: auto;
          overflow: auto;
          border-radius: 1rem 0 0 1rem;
        }

        .brew-no {
          padding: 1rem;
          background-color: $primary-color;
          border-radius: 50%;
          position: absolute;
          left: 1rem;
          top: 1rem;

          h3 {
            color: $dark-color;
          }
        }

        .brew-dates {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 1rem;
          padding-right: 1.5rem;

          .brew-date {
            display: flex;
            flex-direction: column;
            align-items: center;

            .name {
              font-size: 1.2rem;
            }

            .value {
              font-size: 0.8rem;
              color: $primary-color;
            }
          }
        }
      }

      .brew-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0) 100%);

        .brew-name {
          text-transform: uppercase;
          font-size: 2rem;
          line-height: 1.5rem;
          padding-top: 0.8rem;
          padding-bottom: 0.4rem;
          border-top: 4px solid $primary-color;
          border-bottom: 4px solid $primary-color;
        }

        .brew-style {
          margin-top: 0.8rem;
        }

        .brew-description {
          margin: 1.5rem 2rem;
          text-align: center;
        }

        .values {
          display: grid;
          grid-template-columns: 1fr auto 1fr auto 1fr;
          align-items: center;
          justify-items: center;
          color: $light-color;

          .val-group {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;

            h3 {
              font-size: 1.2rem;
            }

            p {
              font-size: 0.9rem;
            }
          }
        }

        .btn {
          margin-top: 1.5rem;
        }
      }

      .older-items {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
      }
    }
  }

  .splide {
    .splide__arrow svg {
      fill: $primary-color;
    }

    .splide__pagination__page {
      background: $medium-light-color;
    }

    .splide__pagination__page.is-active {
      background: $primary-color;
    }
  }
}

@media (max-width: 1050px) and (orientation: landscape) {
  #history {
    #brew-carousel {
      .slide-item {
        grid-template-columns: auto;

        .brew-image {
          display: none;
        }

        .brew-details {
          display: flex;
          border-radius: 1rem;

          .brew-name {
            margin-bottom: 1.5rem;
          }

          .brew-style,
          .brew-description {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #history {
    #brew-carousel {
      .slide-item {
        grid-template-columns: auto;

        .brew-image {
          border-radius: 1rem;

          img {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }

          .brew-dates {
            justify-content: center;

            .brewing {
              display: none;
            }
          }
        }

        .brew-details {
          display: none;
        }

        .older-items {
          h4 {
            display: none;
          }

          a {
            white-space: nowrap;
            transform: translateX(-33%) rotate(-90deg);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #history {
    #brew-carousel {
      .slide-item {
        grid-template-columns: auto;

        .brew-image {
          display: none;
        }

        .brew-details {
          display: flex;
          border-radius: 1rem;

          .brew-name {
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
          }

          .brew-style,
          .brew-description {
            display: none;
          }

          .btn {
            display: none;
          }
        }

        .older-items {
          h4 {
            display: unset;
          }

          a {
            transform: unset;
          }
        }
      }
    }
  }
}
