@import "../../variables";

#home-pending {
  margin: 3rem 0;
  .pending-content {
    display: grid;
    grid-template-columns: 2fr auto 3fr;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    .intro {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0 1rem;

      p {
        margin: 0.5rem 2rem;
      }
      span {
        color: $primary-color;
      }

      .round-icon {
        width: 6rem;
        margin-bottom: 2rem;
      }
    }

    .separator {
      width: 5px;
      height: 80%;
      margin: 0 3rem;
      background-color: $primary-color;
    }

    .stats {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      padding: 2rem 0;

      &-content {
        display: grid;
        grid-template-columns: 50% auto;
        align-items: center;
        align-content: center;
        text-align: center;
        gap: 2rem 3rem;

        .value {
          //justify-self: start;
          font-size: 2rem;
          color: $primary-color;
        }

        span {
          margin-left: 0.8rem;
          color: $medium-light-color;
          font-size: 0.9rem;
          font-style: italic;
        }

        .unit {
          justify-self: start;
          color: $medium-light-color;
        }
      }

      .btn {
        margin-top: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #home-pending {
    .pending-content {
      display: flex;
      flex-direction: column;

      .separator {
        height: 5px;
        width: 50%;
        margin: 3rem 0;
        background-color: $primary-color;
      }
  
      .stats {
        padding: 0;
      }
    }
  }
}
