@import "../../variables";

#process {
}

.bi-fermentation-1 {
  padding: 0.8rem;
}

.bi-fermentation-2 {
  padding: 0.8rem 1.2rem 1.2rem 0.6rem;
}

.bi-hop {
  padding: 0.8rem 0.8rem 1.2rem 1.2rem;
}

.bi-mashing {
  padding: 0.8rem 1.2rem 1.2rem 0.8rem;
}

@media (max-width: 768px) {
  #process {
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  #process {
  }
}
