@import "../../variables";

#contact {
  min-height: 75vh;

  .contact-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    .round-icon {
      height: 8rem;
      width: 8rem;
      padding: 1.5rem;
      margin-bottom: 3rem;
    }

    #contact-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: center;

      input,
      textarea {
        padding: 0.5rem;
        margin: 0.5rem;
        width: 100%;
        resize: none;
        border-style: solid;
        border: none;
        border-radius: 0.3rem;
      }
    
      textarea {
        height: 10rem;
      }
    }

    .contact-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: center;
      padding: 2rem 0;

      p {
        margin: 0.2rem 0;

        span {
          color: $primary-color;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #contact {
    .contact-content {
      grid-template-columns: 1fr;
      gap: unset;
    }
  }
}
